<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objetSaisine">
            <h2><span jhiTranslate="mjkApp.objetSaisine.detail.title">Objet Saisine</span> {{ objetSaisine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mjkApp.objetSaisine.nom">Nom</span></dt>
                <dd>
                    <span>{{ objetSaisine.nom }}</span>
                </dd>
                <dt><span jhiTranslate="mjkApp.objetSaisine.slug">Slug</span></dt>
                <dd>
                    <span>{{ objetSaisine.slug }}</span>
                </dd>
                <dt><span jhiTranslate="mjkApp.objetSaisine.description">Description</span></dt>
                <dd>
                    <span>{{ objetSaisine.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objet-saisine', objetSaisine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
