<div>
    <h2 id="page-heading">
        <span jhiTranslate="mjkApp.objetAssistance.home.title">Objet Assistances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objet-assistance" [routerLink]="['/objet-assistance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mjkApp.objetAssistance.home.createLabel">
            Create a new Objet Assistance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="objetAssistances?.length === 0">
        <span jhiTranslate="mjkApp.objetAssistance.home.notFound">No objetAssistances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="objetAssistances && objetAssistances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="mjkApp.objetAssistance.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span jhiTranslate="mjkApp.objetAssistance.slug">Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="mjkApp.objetAssistance.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objetAssistance of objetAssistances ;trackBy: trackId">
                    <td><a [routerLink]="['/objet-assistance', objetAssistance.id, 'view']">{{ objetAssistance.id }}</a></td>
                    <td>{{ objetAssistance.nom }}</td>
                    <td>{{ objetAssistance.slug }}</td>
                    <td>{{ objetAssistance.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/objet-assistance', objetAssistance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/objet-assistance', objetAssistance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(objetAssistance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="objetAssistances && objetAssistances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
