<div>
    <h2 id="page-heading">
        <span jhiTranslate="mjkApp.requerant.home.title">Requerants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requerant" [routerLink]="['/requerant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mjkApp.requerant.home.createLabel">
            Create a new Requerant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="requerants?.length === 0">
        <span jhiTranslate="mjkApp.requerant.home.notFound">No requerants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="requerants && requerants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="mjkApp.requerant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="mjkApp.requerant.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="mjkApp.requerant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mail"><span jhiTranslate="mjkApp.requerant.mail">Mail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localite"><span jhiTranslate="mjkApp.requerant.localite">Localite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="genre"><span jhiTranslate="mjkApp.requerant.genre">Genre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span jhiTranslate="mjkApp.requerant.age">Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="professionId"><span jhiTranslate="mjkApp.requerant.profession">Profession</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ethnieId"><span jhiTranslate="mjkApp.requerant.ethnie">Ethnie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requerant of requerants ;trackBy: trackId">
                    <td><a [routerLink]="['/requerant', requerant.id, 'view']">{{ requerant.id }}</a></td>
                    <td>{{ requerant.prenom }}</td>
                    <td>{{ requerant.nom }}</td>
                    <td>{{ requerant.telephone }}</td>
                    <td>{{ requerant.mail }}</td>
                    <td>{{ requerant.localite }}</td>
                    <td jhiTranslate="{{ 'mjkApp.Genre.' + requerant.genre }}">{{ requerant.genre }}</td>
                    <td>{{ requerant.age }}</td>
                    <td>
                        <div *ngIf="requerant.professionId">
                            <a [routerLink]="['/profession', requerant.professionId , 'view']" >{{ requerant.professionId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="requerant.ethnieId">
                            <a [routerLink]="['/ethnie', requerant.ethnieId , 'view']" >{{ requerant.ethnieId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/requerant', requerant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/requerant', requerant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(requerant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="requerants && requerants.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
